.popup {
  justify-content: center;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0s, opacity 0.15s linear;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, .5);
}