.header__logo {
  margin-top: 45px;
  align-self: flex-start;
  width: 25%;
  max-width: 142px;
  width: calc(3.98% + 90px);
  margin-left: 100px;
}

@media screen and (min-width: 321px) and (max-width: 598px) {
	.header__logo { 
      margin-top: 28px;
    }
 }

@media only screen and (max-width: 320px) {
	.header__logo {
      width: 103px;
      margin-top: 8.75vw;
      margin-left: 8.43%;
    }
 }

@media only screen and (min-width: 321px) and (max-width: 1280px) {
	.header__logo{
      width: calc(3.98% + 90px);
      margin-top: calc(1.45vw + 23px);
      margin-left: calc(18.02% - 30px);
    }
 }

@media only screen and (min-width: 1281px) {
	.header__logo{
      margin-left: 200px;
    }
 }

