.popup__form-title {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: calc(0.62vw + 16px);  
  line-height: calc(4.72% + 8px);
  color: #000000;
  margin-bottom: 0;
  margin-top: calc(6.08% + 7px);
  max-width: 358px;
  width: calc(12.5vw + 198px);
}