.popup__window {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 490px;
  align-self: center;
}

@media screen and (max-width: 1280px) {
    .popup__window {
      width: calc(21.66% + 212px);
    }
}