.popup__close-button {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  outline: 0;
  display: flex;
  z-index: 1;
  position: fixed;
  top: calc(50vh - 180px);
  left: calc(62.39vw + 71px);
  max-width: 30px;
  min-width: 20px;
  width: calc(1.04vw + 16px);
  align-self: center;
  opacity: 1;
  transition: opacity 0s, opacity 0.15s linear;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (min-width: 1280px) {
    .popup__close-button {
      left: calc(50vw + 235px);
    }
}